body {
  margin: 0;
  font-family: "Merriweather", serif;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 768px) {
  body {
    background-image: url("../assets/mobile-bg2.jpg");
  }
}

@media (min-width: 769px) {
  body {
    background-image: url("../assets/desktop-bg2.jpg");
  }
}

.learn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  padding: 10px 20px;
}

.learn-header {
  display: flex;
  align-items: center;
  width: 100%;
}

.back-button {
  cursor: pointer;
  margin-right: 20px;
}

.learn-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

.progress-bar {
  display: flex;
  gap: 5px;
  margin: 40px 0 20px;
  width: 100%;
}

.progress-step {
  flex: 1;
  height: 4px;
  background-color: #ccd5ae;
  border-radius: 2px;
}

.progress-step:first-child,
.progress-step:nth-child(2) {
  background-color: #f7e5b5;
}

.flashcard-container {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.flashcard {
  width: 80%;
  height: 100%;
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.flashcard-content {
  font-size: 1.2rem;
  margin-bottom: 20px;
}

.show-answer-button {
  background-color: transparent;
  border: none;
  color: black; /* Text color for "Show answer" */
  cursor: pointer;
  font-size: 1rem;
  text-decoration: underline;
}

.options-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 20px 0;
}

.option-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 10px;
  margin: 0 5px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  color: white;
  font-size: 1rem;
}

.option-bad {
  background-color: #e63946;
}

.option-ok {
  background-color: #f4a261;
}

.option-good {
  background-color: #2a9d8f;
}

.option-button img {
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
}

.option-good img {
  width: 50px;
  height: 50px;
}

.option-button:hover {
  opacity: 0.8;
}

@media (max-width: 768px) {
  .learn-title {
    font-size: 1.2rem;
  }

  .flashcard {
    padding: 15px;
  }

  .option-button img {
    width: 30px;
    height: 30px;
  }

  .option-good img {
    width: 35px; /* Adjusted for mobile */
    height: 35px;
  }
}
